/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, div, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Figtree;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

main {
    background-color: #f4d04e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-main {
    background-color: #fff;
    border-radius: 20px;
    max-width: 384px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #111;
    box-shadow: 8px 8px;
    min-width: 327px;
    min-height: 501px;
    flex-shrink: 1;
}

.text-learning {
    background-color: #f4d04e;
    width: 82px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0rem;
    line-height: 150%;
    color: #111;
    margin: 12px 0;
    border-radius: 4px;
}

.text-published {
    line-height: 150%;
    letter-spacing: 0rem;
    font-size: 0.9rem;
    color: #111;
    margin-bottom: 12px;
}

.text-html {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    color: #111;
    margin-bottom: 12px;
}

.text-p {
    color: #6b6b6b;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0rem;
    margin-bottom: 24px;
}

.div-author {
    display: flex;
    align-items: center;
}

.div-author-name {
    margin-left: 12px;
    color: #111;
    font-size: 0.9rem;
    letter-spacing: 0rem;
    line-height: 150%;
    font-weight: bold;
}